.reserva-container {
  max-width: 480px;
  margin: 16px auto;
  padding: 16px;

  background-color: var(--color-card);
  border: 4px solid #b8a491;
  border-radius: 8px;
}

.reserva-title {
  margin-top: 0px;
  margin-bottom: 24px;
  text-align: center;
  color: #333;
}

.reserva-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: #333;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 6px;

  label {
    font-size: 14px;
  }

  select {
    padding: 8px;
    border-radius: 4px;
    border: 3px solid #b8a491;
    background-color: white;
    color: #333;
    cursor: pointer;
  }

  input {
    padding: 8px;
    border-radius: 4px;
    border: 3px solid #b8a491;
    color: #333;
    cursor: pointer;
  }
  input:disabled {
    background-color: #f3ebe4; // mismo tono que los selects disabled
    color: #8c8c8c;
  }
}

.button-base {
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.button-submit {
  margin-top: 12px;
  border: 3px solid #b8a491;
  background-color: #fff;
  color: #333;
}

/* Hover */

.button-submit:hover:not(:disabled) {
  background-color: #b8a491;
  color: #fff;
}

/* Active (click) */

.button-submit:active:not(:disabled) {
  transform: translateY(1px);
}

/* Disabled */

.button-submit:disabled {
  background-color: #f3ebe4;
  color: #8c8c8c;
}

.button-confirmar {
  border: 3px solid #22c55e;
  background-color: #22c55e;
  color: #ffffff;
}

/* Hover */
.button-confirmar:hover:not(:disabled) {
  background-color: #16a34a;
  border-color: #16a34a;
  color: #ffffff;
}

/* Active (click) */
.button-confirmar:active:not(:disabled) {
  transform: translateY(1px);
}

/* Disabled */
.button-confirmar:disabled {
  background-color: #bbf7d0;
  border-color: #bbf7d0;
  color: #6b7280;
}

@media (max-width: 425px) {
  .reserva-container {
    margin: 40px 15px;
  }
}

.turnos-container {
  display: flex;
  gap: 12px;

  overflow-x: auto;
  overflow-y: hidden;

  padding-bottom: 6px;

  scroll-behavior: smooth;
}

.turno-card {
  min-width: 120px;
  padding: 10px;
  border-radius: 8px;
  border: 3px solid #b8a491;
  background-color: #fff;
  cursor: pointer;
  text-align: center;
  transition: all 0.2s ease-in-out;
  font-size: 13px;
  flex: 0 0 auto;

  .hora {
    font-weight: 600;
    margin-bottom: 4px;
  }

  .cupo {
    font-size: 12px;
  }
}

/* Hover */
.turno-card:hover:not(.disabled) {
  background-color: #f3ebe4;
}

/* Seleccionado */
.turno-card.selected {
  background-color: #b8a491;
  color: white;
}

/* Disabled */
.turno-card.disabled {
  background-color: #f3ebe4;
  color: #8c8c8c;
  cursor: not-allowed;
  opacity: 0.7;
}

.turnos-container::-webkit-scrollbar {
  height: 6px;
}

.turnos-container::-webkit-scrollbar-thumb {
  background-color: #b8a491;
  border-radius: 10px;
}

.turnos-placeholder {
  padding: 14px;
  border: 2px dashed #b8a491;
  border-radius: 8px;
  background-color: #f3ebe4;
  font-size: 13px;
  color: #8c8c8c;
  text-align: center;
}
