.card {
  background-color: var(--color-card);
  border: 2px solid #bfa292;
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
 transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}