.container {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  min-height: 100vh;
  height: 100%;
}

.header{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 100%;
  text-align: center;
  background-color: var(--color-banner);
  border-bottom: 4px solid #b8a491;
  color: #333;
}

.reservas-cards-wrapper{
  display: flex;
}

.cards-wrapper {
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  padding-left: 8px;
  padding-right: 8px;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: row;
  column-gap: 12px;
  background-color: var(--color-card);
  border-bottom: 2px solid #bfa292;
  padding: 1rem;
  border-radius: 8px;
  cursor: pointer;
}


.sidebar{
  display: flex;
  flex-direction: column;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  max-width: 280px;
  width: 100%;
  border-right: 2px solid #c4a98f;
  background-color: #d2b9a3;
  height: calc(100vh - 80px);
}


.logo-restaurante-media{
  width: 54px;
  height: 54px;
  border-radius: 8px;
}


.card-body {
  display: flex;
  flex-direction: column;
  padding-top: 4px;
  padding-bottom: 4px;
  row-gap: 4px;
}


.form-group {
  display: flex;
  flex-direction: column;
  gap: 6px;

  label {
    font-size: 14px;

  }

  select {
    padding: 8px;
    border-radius: 4px;
    border: 3px solid #b8a491;
    background-color: white;
    color: #333;
    cursor: pointer;
  }

  input {
    padding: 8px;
    border-radius: 4px;
    border: 3px solid #b8a491;
    color: #333;
    cursor: pointer;
  }
  input:disabled {
  background-color: #f3ebe4; // mismo tono que los selects disabled
  color: #8c8c8c;
  }
}


.filtros-estados-wrapper{
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  margin-bottom: 16px;
}
