.banner {
  background-color: var(--color-banner);
  padding: 1rem;
  text-align: center;
  font-size: 1.8rem;
  color: #333;
  border-bottom: 4px solid #b8a491;

  .title {
    margin-top: 10px;
  }
  .slogan {
    font-size: 1.25rem;
    color: #555;
    font-style: italic;
  }
}
