<app-banner></app-banner>

<section class="container">
  <div class="buscador-container">
    <input [(ngModel)]="searchText" i18n-placeholder placeholder="¿Qué querés comer?" />
    <button i18n (click)="onBuscarClick()" class="btn btn--primary">Buscar</button>
  </div>
  <div class="cards-container">
    @for (promo of promos; track promo) {
      <app-restaurant-card [promotion]="promo" (cardClick)="onPromoClick($event)">
      </app-restaurant-card>
    }
  </div>
</section>

@if (mostrarResultadoVacioModal) {
  <div class="modal-backdrop">
    <div class="modal-box modal-error">
      <h3 i18n="@@homeBusquedaSinResultadosTitulo">⚠️ La busqueda no encontro resultados, proba buscando otra cosa</h3>
      <button (click)="cerrarModalError()" i18n="@@modalCerrarBoton">Cerrar</button>
    </div>
  </div>
}
