<app-banner></app-banner>

<div class="register-container">
  <div class="register-card">

    <h2 class="register-title" i18n>Registrate en Ristorino</h2>

    <!-- FORMULARIO REACTIVO -->
    <form [formGroup]="form" (ngSubmit)="onSubmit()">

      <!-- CORREO -->
      <div class="form-group">
        <label for="email" i18n>Correo electrónico</label>
        <input
          id="email"
          type="email"
          placeholder="Ingresá tu correo"
          i18n-placeholder
          formControlName="correo"
        />
      </div>

      <!-- NOMBRE / APELLIDO -->
      <div class="row">
        <div class="form-group">
          <label i18n for="nombre">Nombre</label>
          <input
            id="nombre"
            type="text"
            placeholder="Ingresá tu nombre"
            i18n-placeholder
            formControlName="nombre"
          />
        </div>

        <div class="form-group">
          <label i18n for="apellido">Apellido</label>
          <input
            id="apellido"
            type="text"
            placeholder="Ingresá tu apellido"
            i18n-placeholder
            formControlName="apellido"
          />
        </div>
      </div>

      <!-- DNI / TELÉFONO -->
      <div class="row">
        <div class="form-group">
          <label for="dni" i18n>Documento</label>
          <input
            id="dni"
            type="number"
            placeholder="Ingresá tu documento"
            i18n-placeholder
            formControlName="dni"
          />
        </div>

        <div class="form-group">
          <label for="telefono" i18n>Teléfono</label>
          <input
            id="telefono"
            type="text"
            placeholder="Ingresá tu teléfono"
            i18n-placeholder
            formControlName="telefono"
          />
        </div>
      </div>

      <!-- LOCALIDAD -->
      <div class="form-group">
        <label for="localidad" i18n>Localidad</label>
        <select
          id="localidad"
          formControlName="nroLocalidad"
        >
          <option value="" i18n>Seleccioná una localidad</option>
          <option *ngFor="let loc of localidades" [value]="loc.nro_localidad">
  {{ loc.nom_localidad }}
</option>

        </select>
      </div>

      <!-- PREFERENCIAS -->
      <div class="form-group">
        <label for="preferencias" i18n>Preferencias gastronómicas</label>

        <div class="chips-container">
          <div
            *ngFor="let pref of preferencias"
            class="chip"
            [class.selected]="isSelected(pref.nro_valor_dominio, pref.cod_categoria)"
            (click)="togglePreferencia(pref)"
          >
            {{ pref.nom_valor_dominio }}
          </div>
        </div>
      </div>

      <!-- PASSWORD / CONFIRM -->
      <div class="row">
        <div class="form-group">
          <label for="password" i18n>Contraseña</label>
          <input
            id="password"
            type="password"
            placeholder="Ingresá tu contraseña"
            i18n-placeholder
            formControlName="password"
          />
        </div>

        <div class="form-group">
          <label for="confirm" i18n>Confirmar contraseña</label>
          <input
            id="confirm"
            type="password"
            placeholder="Repetí tu contraseña"
            i18n-placeholder
            formControlName="confirmPassword"
          />
        </div>
        
      </div>
      <div class="error" *ngIf="form.errors?.['passwordsNotMatching']" i18n>
        Las contraseñas no coinciden
      </div>

      <!-- BOTÓN -->
      <button
        type="submit"
        class="register-button"
        [disabled]="form.invalid"
        i18n
      >
        Registrarme
      </button>

      <p class="login-link" i18n>
        ¿Ya tenés cuenta?
        <a routerLink="/login">Iniciar sesión</a>
      </p>

    </form>

  </div>
</div>

@if (mostrarModalError) {
  <div class="modal-backdrop">
    <div class="modal-box modal-error">
      <h3 i18n="@@registroErrorModalTitulo">No fue posible completar el registro del usuario</h3>
      <button (click)="cerrarModalError()" i18n="@@modalCerrarBoton">Cerrar</button>
    </div>
  </div>
}
